#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.business-container{
  background: #23252C;
  width: clamp(400px, 50%, 550px);
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px 10px 0px 0px;
}

.business-card{
  width: 317px;
  margin: 0 auto;
}
.business-img{
  height: 317px;
}
.business-card img{
  max-width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.business-content{
  padding: 20px 35px;
  background-color: #fff;
  
}
.card-bio{
  text-align: center;
  margin-bottom: 1rem;
}
.card-name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #2B283A;
  margin-bottom: 4px;
}
.card-designation{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F47D27;
   margin-bottom: 6px;
}
.card-website{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #4A4E74;
  text-decoration: none;
}
.card-buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.email-btn{
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #374151;    
  cursor: pointer;
  padding:10px  30px;
  margin: 0 8px;
  min-width: 115px;
}
.linkedin-btn{
  background: #297FE5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding:10px  30px;
  margin: 0 8px;
  min-width: 115px;
  border-color: transparent;
  cursor: pointer;
}
.card-texts h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #2B283A;
  margin-bottom: 2px;
}
.card-texts p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
  margin-bottom: 15px;
}

.business-footer{
  background: #D5D4D8;
  border-radius: 0px 0px 10px 10px;
  padding: 1.5rem 1rem;
  text-align: center;
  font-family: 'Inter';
}